$appColor: #dddddd;
$headerColor: #6aa84f;
$navColor: #6fa8dc;
$mainColor: #e06666;
$subContentColor: #ffd966;
$advertisementColor: #b4a7d6;

#root *{
    border: 2px solid black;
}

.App{
    background-color: $appColor;
    display:grid;
    grid-template: 7.5rem auto / repeat(4, 1fr);
    grid-template-areas: 
    'header header header header'
    'nav main main main';
    padding: 1rem;
    margin: 1rem;
    gap: 1rem;
    overflow: hidden;
}

header{
    background-color: $headerColor;
    grid-area: header;
}

nav{
    background-color: $navColor;
    grid-area: nav;
    height: 30rem;
    align-self: flex-start;
}

main{
    background-color: $mainColor;
    grid-area: main;
    display: grid;
    grid-template: auto 6.5rem / repeat(3, 1fr);
    padding: 1rem;
    gap: 1rem;
    overflow: hidden;
}

.subContent{
    background-color: $subContentColor;
}

.advertisement{
    background-color: $advertisementColor;
    grid-column: 1/4;
}